@import url(https://fonts.googleapis.com/css?family=Cardo:400,700,400italic|Montserrat:400,700);
@import url(https://fonts.googleapis.com/css?family=Istok+Web:400,400italic,700,700italic);
body {
  margin: 0;
  background: white; }

.hero {
  color: white;
  font-family: 'Montserrat', serif;
  font-weight: 400;
  font-style: normal;
  background: url(../img/hero.jpg);
  background-position: center;
  background-size: cover;
  height: 75vh; }
  .hero header {
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 80px; }
    .hero header h4 {
      margin-left: 20px;
      font-size: 1.2em; }
      @media (min-width: 600px) {
        .hero header h4 {
          font-size: 1.6em;
          margin-left: 40px; } }
    .hero header nav {
      margin-right: 20px; }
      @media (min-width: 600px) {
        .hero header nav {
          margin-right: 40px; } }
      .hero header nav a {
        color: white;
        text-decoration: none;
        font-size: 0.9em; }
        .hero header nav a:first-of-type {
          margin-right: 5px; }
          @media (min-width: 600px) {
            .hero header nav a:first-of-type {
              margin-right: 20px; } }
        @media (min-width: 600px) {
          .hero header nav a {
            font-size: 1em; } }
  .hero .search-wrap {
    border: 3px solid red;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 100%;
    text-align: center; }
    .hero .search-wrap h3 {
      padding: 0 20px; }
    .hero .search-wrap form {
      margin-top: -80px; }
      .hero .search-wrap form input, .hero .search-wrap form button {
        width: 70%;
        font-size: 1em;
        padding: 7px;
        border: none;
        border-radius: 2px;
        outline: none;
        text-align: center; }
      .hero .search-wrap form button {
        width: 90px;
        border-radius: 2px;
        margin-top: 10px;
        background: #FF473A;
        color: white;
        border-bottom: 3px solid #d30e00; }

main {
  font-family: 'Istok Web', serif;
  font-weight: 400;
  font-style: normal; }
  main img {
    width: calc(100% - 40px);
    margin: 20px 20px 0;
    border-radius: 2px; }
  main h4 {
    text-align: center;
    margin-bottom: 0; }
  main p {
    padding: 0 20px; }

footer {
  display: flex;
  flex-direction: column;
  background: #444;
  font-family: 'Montserrat', serif;
  font-weight: 400;
  font-style: normal;
  height: 180px;
  align-items: center;
  color: white; }
  footer input, footer .hero .search-wrap form button, .hero .search-wrap form footer button, footer button {
    font-size: .8em;
    padding: 4px;
    border: none;
    text-align: center;
    border-radius: 2px; }
  footer button {
    background: #FF473A;
    color: white;
    border-bottom: 3px solid #d30e00; }
  footer nav {
    width: 140px;
    padding-top: 2em;
    display: flex;
    justify-content: space-around; }
    footer nav a {
      color: white; }

/*# sourceMappingURL=styles.css.map */
