@import 'base/module';
@import 'utils/module';
@import 'layout/module';

body {
  margin: 0;
}

header {
  @include Montserrat();
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  bordeR: 1px solid black;
  h4 {
    margin-left: 20px;
  }
  nav {
    a {
      margin-right: 20px;
    }
  }
}
