<!DOCTYPE html>
<html>
    <head>
        {% include '/includes/head.html.twig' %}
        <meta charset="utf-8">
        <title>Herbonomics</title>
    </head>
    <body>
        <h2>(Dispensary.getName??) Account</h2>

    </body>
</html>
