<!--The grower's account page allows the user to have CRUD capability for their strains and their bio. When they sign in they should be taken here. :)-->

<html>
<head>
   <title>Grower Account</title>
</head>
    <body>
      <div>
        <h1>{{ grower.getName }}</h1>
         <form action="/grower/{{ grower.getId }}/edit_account_info" method="get">
              <button type="submit">Edit Account Details</button>
        </form>
        <form action="" method="get">
             <button type="submit">View Profile</button>
        </form>

               {% include '/includes/dispensary_demands.html.twig' %}<br>
               {% include '/includes/grower_supply.html.twig' %}<br>
               {% include '/includes/home_form.html.twig' %}


         <h3>Add a new strain:</h3>
         <form action='/grower/add_strain' method='post'>
             <input id="growers_id" name="growers_id" type="hidden" value="{{ grower.getId }}">

             <label for="strain_name">Strain Name</label>
             <input id='strain_name' name='strain_name' type='text'>

             <label for='pheno'>Pheno Type</label>
             <select class="" name="pheno">
                <option value="Sativa">Sativa</option>
                <option value="Hybrid">Hybrid</option>
                <option value="Indica">Indica</option>
             </select>

             <label for='thc'>THC Content</label>
             <input id='thc' name='thc' type='number' step="any" min="0"/>

             <label for='cbd'>CBD Content</label>
             <input id='cbd' name='cbd' type='number' step="any" min="0"/>

             <label>Clean Grean Certified?</label>
             <select class="" name="cgc">
                <option value="1">Yes</option>
                <option value="0">No</option>
             </select>

             <label for='price'>Price</label>
             <input id='price' name='price' type='int'>

             <button class="info" type='submit'>Add the Strain</button>
         </form>

         <form action="/dispensary_demands" method="get">
              <button type="submit">Browse Retailer Demands</button>
         </form>

         <form action="/grower_supply" method="get">
              <button type="submit">Browse Cultivator Supply</button>
         </form>

         {% include '/includes/home_form.html.twig' %}
    </div>
</body>
</html>
