<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="../css/styles.css" media="screen" title="no title" charset="utf-8">
  <meta charset="utf-8">
  <title>Herbonomics</title>
</head>
  <body>
    <div class="hero">
      <header>
        <h4>Herbonomics</h4>
        <nav>
          <a href="#">Sign Up</a>
          <a href="#">Log In</a>
        </nav>
      </header>
      <div class="search-wrap">
        <h3>Join our growing community of farms and dispensaries</h3>
        <form class="search">
          <input type="text" name="name" placeholder="Search for any strain...">
          <button type="button" name="btn-submit">Search</button>
        </form>
        <!-- <img src="img/chevron.png" alt="" /> -->
      </div>
    </div>
    <main>
      <div class="farmer">
        <h4>Connect your business</h4>
        <img src="img/farmer.jpg" alt="" />
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>
      </div>
      <div class="dispensary">
        <h4>The Cannabis Community</h4>
        <img src="img/dispensary.jpg" alt="" />
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>
      </div>
    </main>
    <footer>
      <h3>Subscribe to our newsletter</h3>
      <form class="email-sign-up">
        <input type="email" placeholder="name@example.com">
        <button type="button" name="btn-submit">Subscribe</button>
      </form>
      <nav>
        <a href="#"><i class="fa fa-facebook fa-lg"></i></a>
        <a href="#"><i class="fa fa-twitter fa-lg"></i></a>
        <a href="#"><i class="fa fa-envelope fa-lg"></i></a>
      </nav>
      <p>&copy; 2016 Herbonomics</p>
    </footer>
  </body>
</html>
