body {
  margin: 0;
  background: $color-background;
}







footer {
  display: flex;
  flex-direction: column;
  background: $color-darkgray;
  margin-top: 40px;
  @include Montserrat();
  align-items: center;
  color: $color-background;
  input {
    outline: none;
    font-size: .8em;
    padding: 4px;
    border: none;
    text-align: center;
    border-radius: 2px;
    @include tablet {
      font-size: 1em;
      padding: 10px;
      width: 250px;
    }
  }
  button {
    @extend input;
    background: $color-red;
    color: $color-background;
    border-bottom: 3px solid $color-darkred;
    @include tablet {
      width: 100px;
    }
  }
  nav {
    width: 140px;
    padding: 40px 0 20px;
    display: flex;
    justify-content: space-around;
    a {
      color: $color-background;
      &:hover {
        color: $color-red;
      }
    }
  }
}
